.makeStyles-successCardHeader-121 {
  background: #67b7dc !important;
}
.makeStyles-warningCardHeader-120 {
  background: #a367dc !important;
}
.makeStyles-dangerCardHeader-122 {
  background: #6771dc !important;
}
